/* Layout and custom scrollbar styles for the main content area */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #EEE5E7;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E98FA3;
}
